<!-- Main Content -->
<p class="container mx-auto mt-4">
    O projeto desenvolvido consiste em uma plataforma web para publicação e visualização de clipes de vídeo curtos, semelhante a serviços como TikTok, Instagram Reels ou YouTube Shorts. O objetivo principal do site é permitir que os usuários possam publicar, assistir e interagir com vídeos curtos, utilizando tecnologias modernas de desenvolvimento web.

A aplicação foi construída utilizando o framework Angular, que permite a criação de interfaces ricas e responsivas. Para o backend e funcionalidades em tempo real, foi utilizada a integração com o Firebase, fornecendo autenticação, armazenamento de arquivos (vídeos) e banco de dados em nuvem.
</p>